GITHUBTOKEN: "githubtokenhere"
REPONAME: "examplerepo" 
GITHUBORGNAME: "exampleorg"
GITHUBSSHKEY: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
  NhAAAAAwEAAQAAAQEA25sUqF5Gz8cT/v7rjMtjqx3FdLzKXKT5g9fpNxaIHy0xC2sYOeRM
  OcasVy2ipWkpezDm0ptNS8hXlG0QtLj8YeqEjVOXvKBbKGQmG4r2lED3V7Gc0WVuO5RYak
  -----END OPENSSH PRIVATE KEY-----
