GITHUBTOKEN: "githubtokenhere"
REPONAME: "examplerepo" 
GITHUBORGNAME: "exampleorg"
GITHUBSSHKEY: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAABFwAAAAdzc2gtcn
  NhAAAAAwEAAQAAAQEA25sUqF5Gz8cT/v7rjMtjqx3FdLzKXKT5g9fpNxaIHy0xC2sYOeRM
  OcasVy2ipWkpezDm0ptNS8hXlG0QtLj8YeqEjVOXvKBbKGQmG4r2lED3V7Gc0WVuO5RYak
  -----END OPENSSH PRIVATE KEY-----

SPRINGINITURL: start.spring.io
CONCOURSEURL: "http://concourse.company.com"
GIT_URL: https://github.com/ubsbot/examplerepo.git
DEPLOY_USERNAME: asaul@p1v0tal.io
DEPLOY_PASSWORD: password
PAS_ORGANIZATION: aleks
PAS_SPACE: new
PAS_API: run.pivotal.io
PAS_APP_SUFFIX: testmeasaul
PAS_DOMAIN: cfapps.io
CONCOURSE_USERNAME: pivotal
CONCOURSE_PASSWORD: "Pivotal1"